<!DOCTYPE html>
<html>
  <head>
    <title>PiPot</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "/css/bootstrap.css" %}' />
    <link rel='stylesheet' href='{% static "/css/bootstrap-grid.css" %}' />
    <link rel='stylesheet' href='{% static "/css/bootstrap-reboot.css" %}' />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand">
      <a class="navbar-brand" href="#">PiPot</a>
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/devices">Devices</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/config">Config <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <form method="post" action="/config">
        {% csrf_token %}
        {{ form }}
        <p></p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
